.logo{
    margin-left: 10px;
}

.img-user{
    width: 45px;
    height: 45px;
}

.name-member{
    margin-left: 15px;
}

.img-gitlab{
    margin-top: 30px;
    width: 25px;
    height: 25px;
}

.form-edit{
    margin-top: 200px;
}