.logo{
    margin-left: 10px;
}

.img-user{
    vertical-align: middle;
    min-height: 45px;
    max-height: 45px;
    min-width: 45px;
    max-width: 45px;
}

.name-member{
    margin-left: 15px;
}

.img-gitlab{
    margin-top: 30px;
    width: 25px;
    height: 25px;
}